* {
    font-family: Karla, "sans-serif";
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    
    

}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    background-color: hsl(218, 22%, 67%);
    
}

.container-one {
    width: 100%;
    background-color: white;
    padding: 4% 0;
    font-weight: 700;
    
}

h1 {
    color: hsl(179, 62%, 43%);
    padding: 4% 4%;
    font-size: 1.3rem;

}

.subtitle {
    color: hsl(71, 73%, 54%);
    padding: 4% 4%;


}

.paragraph-container {
    font-size: 0.9rem;
    color: hsl(202, 43%, 75%);
    padding: 4% 4%;
    font-weight: 400;
    line-height: 150%;

}

.monthly-container {
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    padding: 6% 0;
     

}

.monthly-title {
    padding: 0 4%;
    font-size: 1.2rem;
    font-weight: 700;

}

.access-container {
    padding: 0 4%;
}

.price-container {
    display: flex;
    padding: 4% 0 2%;

}

.number-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.month {
    margin: 1.5%;
    padding-left: 2%;
    opacity: 0.5;

}

.full {
    padding-bottom: 10%;
    font-size: 0.8rem;
}


.sign-button {
    width: 90%;
    border: hsl(71, 73%, 54%);
    border-radius: 5%;
    background-color: hsl(71, 73%, 54%);
    padding: 4% 0;
    margin: 2% 4%;

}

.sign-button:hover {
    opacity: 0.5;
}

.whyUs-container {
    width: 100%;
    background-color: hsl(179, 82%, 52%);
    padding: 6% 0;
}

h2 {
    padding: 3% 4%;
}

ul {
    padding: 4% 4%;
    list-style: none;
}

li {
    font-size: 0.8rem;
    padding: 1%;
}

@media (min-width: 960px) {

    .container {
        padding-top: 4%;
        width: 70%;
    }


    .subtitle {
        padding: 0 4%;
    }

    .paragraph-container {
        font-size: 1rem;
        padding: 2% 15% 2% 4%;
    }

    .container-two {
        display: flex;
    }

    .monthly-container {
        padding: 6% 3%
    }

    .whyUs-container {
        padding: 6% 3%
    }

    h2 {
        padding: 0 4%;
    }

    .full {
        font-size: 1rem;
        padding-bottom: 6%;
    }

    .sign-button {
        margin: 10% 4%
    }

}